**/node_modules
examples/photo-batch-processing/photos/**/*
examples/photo-batch-processing/results/**/*
examples/photo-batch-processing/src/scene_list.gz
examples/photo-batch-processing-webtorrent/photos/**/*
examples/photo-batch-processing-webtorrent/results/**/*
examples/photo-batch-processing-webtorrent/src/scene_list.gz
